Task 1

In [5]:
def return_witout_dublicates(l):
    return list(set(l))

return_witout_dublicates([1,2,3,3,2,5,6])

[1, 2, 3, 5, 6]

Task 2

In [6]:
def intersect_of_lists(l1,l2):
    return set(l1).intersection(l2)

intersect_of_lists([1,2,3,4,5], [2,3,6])

{2, 3}

Task 3

In [11]:
def in_one_but_not_in_second(l1,l2):
    return [i for i in l1 if i not in set(l2)]

in_one_but_not_in_second([1,2,3,5,6], [2,3,4,5,6,7,8])

[1]

Task 4

In [23]:
def in_one_or_not_in_second(l1,l2):
    return set(l1)^(set(l2))
in_one_or_not_in_second([1,2,3,5,6], [2,3,4,5,6,7,8])

{1, 4, 7, 8}

Task 5

In [57]:
def one_sec_or_bot(l1,l2):
    return set(l1)|(set(l2))
in_one_or_not_in_second([1,2,3,5,6], [2,3,4,5,6,7,8])

{1, 4, 7, 8}

Task 6

In [59]:
def remove_from_set(s: set, value):
    s.remove(value)
    return s
remove_from_set({1,2,3}, 3)

{1, 2}

Task 7

In [60]:
def list_of_cubes_from_set(s: set):
    return [i**2 for i in s]
list_of_cubes_from_set({1,2,3,4})

[1, 4, 9, 16]

Task 8

In [61]:
def value_adder(d:dict, key, value):
    d[key] = value
    return d

value_adder({1:'a', 2:'b', 3:'c'}, 4, 'g')

{1: 'a', 2: 'b', 3: 'c', 4: 'g'}

Task 9

In [3]:
def concat_dict(a, b):
    return a.update(b)

Task 10

In [4]:
def create_dict_from_nums(a):
    d = dict()
    for i in range(a):
        d[i]=i**2
    return d

create_dict_from_nums(6)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Task 11

In [8]:
def create_dict_from_lists(l1,l2):
    d = {}
    for i in range(len(l1)):
        d[l1[i]] = l2[i]
    return d

create_dict_from_lists([1,2,3], [5,6,7])

{1: 5, 2: 6, 3: 7}

Task 12

In [31]:
def get_max_and_min(d: dict):
    s = set()
    for i in d.values():
        s.add(i)
    s = sorted(s)
    return s[0], s[-1]

get_max_and_min({'a':1,'b':23, 'c':-9,'d':99})

(-9, 99)

Task 13

In [111]:
def read_first_lines(n):
    with open("words.txt", 'r') as f:
        f = f.readlines()
        for i in range(n):
            print(f[i])
read_first_lines(1)

ABC/nDEF/nGHI/nJKL/nMNO/nPQR/nSTU/nVWX/n

Task 14

In [74]:
def read_first_lines():
    with open("file.txt", 'r') as f:
        l = f.read()
        return sorted(l.split(' '), key=len)[-1]
        
        
read_first_lines()

'superencrypted.\nAccording'

Task 15

In [79]:
def read_first_lines():
    with open("file.txt", 'r') as f:
        l = f.read()
        l = l.replace(',', ' ')
        return sorted(l.split(' '), key=len)[-1]
        
read_first_lines()

Request for Comment (RFC) 4949  "Internet Security Glossary  Version 2 " the Internet Engineering
Task Force differentiates between plaintext and cleartext  noting that the two terms are not interchangeable.
For the purpose of internet security  cleartext data is not encrypted  while plaintext data could be encrypted if it is being superencrypted.
According to the National Institute of Standards and Technology (NIST)
 plaintext refers to "intelligible data that has meaning and can be understood without the application of decryption "
 although this is one of several definitions NIST recognizes -- including the IETF definition.

Task 16

In [147]:
import string

def write_chars(n):
    char = string.ascii_uppercase
    index = 0
    with open("words.txt", 'w') as f:
        while index+n <= len(char):
            f.write(char[index:index+n]+ '\n')
            index += n
            
        if len(char)%n != 0:
            f.write(char[-(len(char)%n):])

    with open("words.txt", 'r') as f:
        f = f.read()
        print(f)
    return

write_chars(8)

ABCDEFGH
IJKLMNOP
QRSTUVWX
YZ

Таск 22*
Check person age without any compare operators and if/else blocks. Function get 1 number as input, output should be the string.
0 - Just born
1-10 - Child
10-18 - Teenager
18-50 - Young
50 and more - Old

In [167]:
def get_age_label(n):
    return "just born" * (n in range(0, 1)) + "child" * (n in range(1, 10)) + "young" * (n in range(10, 30))
get_age_label(16)

'young'

Task 23

In [176]:


class Company:
    def __init__(self, company_name, founded_at, employees_count):
        self.company_name = company_name
        self.founded_at = founded_at
        self.employees_count = employees_count
        
    def __repr__(self):
        return f"""company name: {self.company_name},
                   founded at: {self.founded_at}, employees count: {self.employees_count}"""
    
class Job:
    def __init__(self, company: Company, slalry, experience_year, position):
        self.company = company
        self.slalry = slalry
        self.experience_year = experience_year
        self.position = position
        
    def __repr__(self):
        return f"""company: {self.company.company_name}, slalry: {self.slalry},
                   experience year: {experience_year}, position: {position}"""
    
    def change_salary(self, new_salay):
        self.salary = new_salay
        
    def change_experience_year(self, new_exp_year):
        self.experience_year = new_exp_year
        
    def change_postition(self, new_position):
        self.position = new_position

        
class Person:
    def __init__(self, name, surname, gender, age, address,
                 friends: list[slef], job: list[Job]):
        self.name = name
        self.surname = surname
        self.gender = gender
        self.age = age
        self.address = address
        self.friends = friends
        self.job = Job
    
    def __repr__(self):
        return f"""name: {self.name}, surname: {self.surname},
                   """
    
    def add_friend(self, new_friend: Person):
        self.friends.append(new_friend)
        
    def remove_friend(self, rm_friend: Person):
        self.friends.remove(rm_friend)
        
    def add_job(self, new_job: Job):
        self.job.append(new_job)
        
    def remove_job(self, rm_job: Job):
        self.job.remove(rm_job)
        
    def display_job(self, job):
        for job in job:
            print(job)

NameError: name 'Person' is not defined

In [169]:
c = Company('pepsi', 1913, 10000)

'pepsi'

__main__.Company